<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>Olympics 2022</title>
</head>
<body>
<div>
    <h1> Olympics-2022 </h1>



    <h2> Description of the event </h2>
    <p>From 4 to 20 February, the XXIV Winter Olympic Games will be held in Beijing.
        For more than two weeks in China, athletes will compete for 109 sets of awards
        in 15 sports.
    </p>
    <p>There are 176 athletes in our team. The Russians will be represented in all sports.
    </p>
    <a href="https://www.championat.com/olympicwinter/"
       title="More about the Olympics:" target=" __blank">
        More about the Olympics:
    </a>
    <hr>
</div>

<div th:each="person : ${people}">
    <a th:href="@{/people/{name}(name=${person.getName()})}"
       th:text="${person.getName() + ', ' + person.getAge()}">user</a>
</div>
<br/>
<hr/>
<a href="/people/new">Create new person</a>

<hr>
<a href="/people/about" title="Подробнее">
    More about web developer:
</a>
</body>
</html>