<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<p th:text="${person.getName()}">VALUE</p>
<p th:text="${person.getCity()}">VALUE</p>
<p th:text="${person.getAge()}">VALUE</p>

<a th:href="@{/people/{name}/edit(name=${person.getName()})}"> Edit </a>

<form th:method="DELETE" th:action="@{/people/{name}(name=${person.getName()})}">
    <input type="submit" value="Delete!"/>
</form>

</body>
</html>